/*
 * Product card styles
 *
 **/

.c-product-card {
  display: block;
  max-width: 13rem;
  overflow: hidden;
  box-shadow: $cs-shadow;
  border-radius: $cs-radius-lg;
  text-align: center;
  color: inherit;
}
